<tr id=<%= "factor_#{factor.id}" %>>
	<td><%= factor.id %></td>
	<td><%= factor.tipo_factor.nombre %></td>
	<td><%= factor.area.nombre %></td>
	<td><%= factor.descripcion %></td>
	<td> 
		<%= link_to  image_tag('Crud/mostrar.png'), factor, :remote => true, :class => 'btn btn-mini' %>
        <%= link_to image_tag('Crud/editar1.png', :title => "Editar Equipos"), edit_factor_path(factor), :remote => true,
          :class => 'btn btn-mini'%>
	</td>
</tr>


