<%= javascript_include_tag "fecha" %>
<%= simple_form_for(@evaluacion, :html => { :multipart => true, :remote => true }) do |f| %>
 <div class="user">
    <div class="modal-header">
       <a href="#" class="close"   onclick="$.lazybox.close()">&times;</a>
      <h4 class="modal-title"><h3>Datos Evaluacion</h3></h4>
        </div><br>
          <div class="row">
            <div class="col-md-4">
             Estudiante:
            </div>
            <div class="col-md-6">
                <%= f.collection_select :estudiante_id, Estudiante.all, :id, :nombre1, :prompt => "Selecione Estudiante", :label => false,  :required => true %> 
            </div><br><br><br>
            <div class="col-md-4">
              Jefes:
            </div>
            <div class="col-md-6">
               <%= f.collection_select :jefe_id, Jefe.all, :id, :nombres, :prompt => "Selecione Jefes", :label => false,  :required => true %> 
            </div><br><br><br>
            <div class="col-md-4">
              FechaInicio:
            </div>
            <div class="col-md-6">
            
                 <%= f.input :fecha_inicio, :as => :string, :label => false, :required => true,  :input_html => {  :class => "datepicker " } %>
          
          </div>
           <div class="col-md-4">
              FechaEvaluación:
            </div>
            <div class="col-md-6">
               <%= f.input :fecha_evaluacion, :as => :string, :label => false,  :required => true,  :input_html => {  :class => "datepicker" } %>
           </div>
           <div class="col-md-4">
              AspectosPositivos:
            </div>
            <div class="col-md-6">
              <%= f.input :aspectos_positivos, :label => false,  :required => true  %>
           </div>
           <div class="col-md-4">
              AspectosNegativos:
            </div>
            <div class="col-md-6">
              <%= f.input :aspectos_negativos, :label => false,  :required => true  %>
           </div>
           <div class="col-md-4">
              FechaFin:
            </div>
            <div class="col-md-6">
            
               <%= f.input :fecha_fin, :as => :string, :label => false,  :required => true,  :input_html => {  :class => "datepicker" } %>
           </div>
        </div>
         <div class="modal-footer">
        <%= f.submit "guardar", :class => 'btn btn-primary' %>
        <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
      </div>
       
<% end %>
