<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @typecitizen.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @typecitizen.acronym %>
</p>

<%= link_to 'Edit', edit_typecitizen_path(@typecitizen) %> |
<%= link_to 'Back', typecitizenes_path %>
