<%= simple_form_for @programa, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nombre %>
  <%= f.input :version %>
  <%= f.input :codigo %>
  <%= f.input :centro_id %>
  <%= f.input :titulacion_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                programas_path, :class => 'btn' %>
  </div>
<% end %>
