<%= simple_form_for @jefe, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :nombres %>
  <%= f.input :apellidos %>
  <%= f.input :cargo %>
  <%= f.input :telefono %>
  <%= f.input :email %>
  <div class="control-group" >
    <label class="control-label" for="inputName">Empresa</label>
    <div class="controls">
      <%= f.collection_select :empresa_id, Empresa.all, :id, :nit, :prompt => "Selecione Empresa" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jefes_path, :class => 'btn' %>
  </div>
<% end %>
