<%= simple_form_for @ficha, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :numero %>
  <%= f.input :fecha_inicio_practicas %>
  <%= f.input :fecha_fin_practicas %>
  <div class="control-group" >
    <label class="control-label" for="inputName">Programa</label>
    <div class="controls ">

      <%= f.collection_select :programa_id, Programa.all, :id, :nombre, :prompt => "Selecione Programa", :input_html => {:class => "col-sm-2"} %> 
   </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fichas_path, :class => 'btn' %>
  </div>
<% end %>
