<%= simple_form_for @tipodoc, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :descripcion %>
  <%= f.input :sigla %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tipodocs_path, :class => 'btn' %>
  </div>
<% end %>
