<%= simple_form_for(@actividad, :html => { :multipart => true, :remote => true }) do |f| %>
<div class="user">
    <div class="modal-header">
       <a href="#" class="close"   onclick="$.lazybox.close()">&times;</a>
      <h4 class="modal-title"><h3>Datos Act Estados</h3></h4>
        </div><br>
          <div class="row">
            <div class="col-md-4">
             FechaInicio:
            </div>
            <div class="col-md-8">
              <%= f.input :fecha_inicio, :label => false,  :required => true %>
            </div>
            <div class="col-md-4">
              Estudiantes:
            </div>
            <div class="col-md-8">
              <%= f.collection_select :estudiante_id, Estudiante.all, :id, :nombre1, :prompt => "Selecione Estudiante"  %> <br><br>
            </div>
            <div class="col-md-4">
              Objetivos:
            </div>
            <div class="col-md-8">
              <%= f.collection_select :objsyproy_id, Objsyproy.all, :id, :nombre, :prompt => "Selecione Objetivo Proyecto" %> <br><br> 
            </div>
             <div class="col-md-4">
              Categorias:
            </div>
            <div class="col-md-8">
             <%= f.collection_select :categoria_id, Categoria.all, :id, :nombre, :prompt => "Selecione Categoria" %><br><br>
            </div>
             <div class="col-md-4">
              EstEstado:
            </div>
            <div class="col-md-8">
             <%= f.collection_select :actestado_id , Actestado.all, :id, :nombre, :prompt => "Selecione ActEstado" %> <br><br> 
            </div>
            <div class="col-md-4">
              Descripción:
            </div>
            <div class="col-md-8">
              <%= f.input :descripcion, :label => false,  :required => true  %>
            </div>
             <div class="col-md-4">
              FechaFin:
            </div>
            <div class="col-md-8">
             <%= f.input :fecha_fin, :label => false,  :required => true  %>
            </div>
        </div>
  </div>
 
  <div class="modal-footer">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
  </div>
<% end %>
